*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #101010;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1500px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 46px;
  margin-bottom: 128px;
}

.header-logo {
  background-color: #101010;
}

.header-contact {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}

.phone {
  color: #ffffff;
  padding-right: 40px;
}

.phone-icon {
  position: absolute;
  right: 170px;
}

.accent-color {
  color: #D6AF76;
}

.phone-item {
  padding: 10px 25px 10px 49px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #E4B564;
  background-color: #101010;
  border: 1px solid #E4B564;
}

.title {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #fff;
  padding-bottom: 40px;
}

.subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  width: 1200px;
  padding-bottom: 40px;
}

.gallery-grid {
  display: grid;
  gap: 27px 34px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(6, 1fr);
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  padding-bottom: 160px;
  text-decoration: none;
}

.gallery-grid-link {
  color: #FFFFFF;
}


.gallery-grid-item:nth-child(1) {
  background: #634F2C;
  padding: 220px 148px;
  grid-column: 1 / 3;
}

.gallery-grid-item:nth-child(2) {
  background: #B4A385;
  padding: 206px 43px;
  grid-column: 3 / 5;
}

.gallery-grid-item:nth-child(3) {
  background: #E4B564;
  padding: 220px 140px;
  grid-column: 5 / 7;
}

.gallery-grid-item:nth-child(4) {
  background: #635A4A;
  padding: 220px 162px;
  grid-row: 2;
  grid-column: 1 / 4;
}

.gallery-grid-item:nth-child(5) {
  background: #B08C4D;
  padding: 220px 237px;
  grid-row: 2;
  grid-column: 4 / 7;
}

.inner-box {
  margin: 94px 0 191px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 112.5px);
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  /* gap: 30px 24px; */
}


.inner-box-item {
  padding-left: 50px;
  padding-top: 44px;
}

.big {
  text-transform: uppercase;
  display: block;
}

.inner-box-item:nth-child(1) {
  width: 467px;
  height: 313px;
  background: #0E0E0E;
  color: #FFFFFF;
  grid-row: 1 / 4;
}

.inner-box-item:nth-child(2) {
  width: 467px;
  height: 439px;
  background: #242424;
  color: #FFFFFF;
  grid-row: 1 / 5;
  row-gap: 33px;
}

.inner-box-item:nth-child(3) {
  width: 467px;
  height: 255px;
  background: #1F1F1F;
  color: #FFFFFF;
  grid-row: 1 / 3;
}

.inner-box-item:nth-child(4) {
  width: 467px;
  height: 560px;
  background: #1F1F1F;
  color: #FFFFFF;
  grid-row: 4 / 9;
}

.inner-box-item:nth-child(6) {
  width: 467px;
  height: 405px;
  background: #E4B564;
  color: #000000;
  grid-row: 5 / 9;
}

.inner-box-item:nth-child(5) {
  width: 467px;
  height: 313px;
  background: #0E0E0E;
  color: #FFFFFF;
  grid-row: 4 /6;

}

.inner-box-item:nth-child(7) {
  width: 467px;
  height: 277px;
  background: #0A0909;
  color: #FFFFFF;

  grid-row: 6 / 9;

}

.preview {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
  padding-right: 15px;
}

.btn {
  padding: 7px 40px;
  border: 1px solid #E4B564;
  background: #0E0E0E;
  color: #E4B564;
}

.aside {
  display: flex;
  margin-bottom: 240px;
}


.aside-box {
  display: flex;
  flex-wrap: wrap;
}

.aside-box-item {
  width: 487px;
  height: 391px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box-text {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
  width: 326px;
  text-align: center;
}

.img-ball {
  display: flex;
  justify-content: center;
  align-self: center;
}

.logo-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.aside-box-item:nth-child(1) {
  background: #634F2C
}

.aside-box-item:nth-child(2) {
  background: rgba(232, 210, 171, 0.76);
}

.aside-box-item:nth-child(3) {
  background: #E4B564;
}

.aside-box-item:nth-child(4) {
  background: #635A4A;
}

.aside-box-item:nth-child(5) {
  background: #B08C4D;
}

.aside-box-item:nth-child(6) {
  background: #634F2C;
}